@use "./style/index" as s;


html{
    overflow:  hidden;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: slategrey;
  }
  
  
  .app-wrapper{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
    width:100vw;
    min-height: 320px;
    background-color: s.$color-accent;
    border-radius:100px;
  }


  @media (max-width: s.$breakpoint-md-min){
    .content{
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .app-wrapper{
      border-radius: 40px;
      
    }
}
  