@use "../variables/" as v;

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: v.$fw-regular;
    font-family: Lack;
    color: v.$color-dark;
}

h2{
    text-transform: uppercase;
    font-size: v.$fs-xxl;
    font-style:normal;
    line-height: v.$base * 3;
    letter-spacing: 0.1em;
}

@media (max-width: v.$breakpoint-sm-max){
    h2{
        font-size: v.$fs-xxl;
    }    
    
}

@media (max-width: v.$breakpoint-md-min){
    h2{
        font-size: v.$fs-xl;
    } 
    
}


@media (max-width: v.$breakpoint-sm-min){
    h2{
        font-size: v.$fs-l;
    } 
    
}