@use 'src/style/' as s;



.header{
    margin-bottom: s.$base * 5;
}


.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:s.$base * 15;
    padding: 0;
    
}

.member{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addMember{
    cursor: pointer;
    width: s.$base * 62;
    height: s.$base * 75;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


@media (max-width: s.$breakpoint-sm-max){
    .items{
        flex-direction: column;
    } 
}

@media (max-width: s.$breakpoint-md-min){
    
    
}


@media (max-width: s.$breakpoint-sm-min){
    
}