@use 'src/style/variables/index.scss' as s;

.content{
    grid-column-start: 2;
    grid-column-end: 13;
    min-height: 320px;
    background-color: s.$color-light;
    border-radius:100px;
    padding-top: 50px;
    overflow: auto;
    scroll-behavior: auto;
    overflow-x: hidden;
}

.page{
    padding: 20px;
}


@media (max-width: s.$breakpoint-md-min){
    .content{
        grid-column-start: 1;
        grid-column-end: 13;
        border-radius: 40px;
    }

    .page{
        padding: 0;
    }
    
}

