.content{
    grid-column-end: span 12;
    min-height: 320px;
    background-color: #E5E5E5;
    border-radius: 0 0 100px 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto-fill;
    height: 704px;
    margin-left: 65px;
}

.header{
    grid-column-start: 1;
    grid-column-end: span 12;
    height: 58px;
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.09em;

    color: #1D2343;
}

.items{
    list-style: none;
    grid-row-start: 2;
    grid-column-end: span 8;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0;
    margin-right: 60px;
}

.item{
    margin-left: 30px;
}

.member{
    width: 252px;
    height: 314px;
    margin-right: 60px;
    filter: drop-shadow(0px 4px 40px rgba(238, 119, 127, 0.36));
}

.member .name{
    position: absolute;
    width: 198px;
    height: 29px;
    left: 40%;
    top: 45%;
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.09em;

    color: #FFF5F5;
}
.member .status{
    position: absolute;
    width: 152px;
    height: 19px;
    left: 40%;
    top: 80%;
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;

    color: rgba(29, 35, 67, 0.75);
}

.member .post{
    position: absolute;
    width: 54px;
    height: 18px;
    left: 55%;
    top: 60%;
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.09em;

    color: rgba(255, 255, 255, 0.86);
}

.newMember img{
}


.rooms{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
}

.room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 153px;
    align-self: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.18);
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

.room img{
    margin-left: 20%;
}

.room p{
    margin: 0;
}

a{
    text-decoration:none;
}

.forma{
    height: 704px;
    grid-column-end: span 12;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: rgba(255, 255, 255, 0.86);
    font-size: 24px;
    line-height: 18px;
}

.forma .btn{
    width: 10%;
    height: 5%;
    font-size: 24px;
    margin-bottom: 20px;
}


.forma h3{
    font-size: 32px;
    color: black;
    margin-bottom: 70px;
}


@media (min-width: 768px) {
    .content{
        grid-column-end: span 11;
    }
}

@media (min-width: 960px) {
    
}