.sidebar{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    background-color: #65bdc0;
    border-radius: 100px 0 0 100px;
}

.container{
    height: 100%;
    display:flex;
    flex-direction: column;
    padding: 36px 0 0 22px;
    align-items: center;
}

.slidebar__btn{
    position: absolute;
    width:50px;
    height: 50px;
    right: -90px;
    top: 40px;
}

.slidebar__btn img{
    width:50px;
    height: 50px;
}

.logo{
    margin:0 0 118px 0;
}

.sidebar__list{
    min-height: 500px;
}

.sidebar__list .item{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.09em;
    color: rgba(255, 245, 245, 0.65);
    text-decoration:none;

}

.sidebar__list .item img{
    
    margin:0 0 20px 0;
}

.sidebar__list .item p{
    margin:0 0 45px 0;
}


@media (min-width: 768px) {
    .sidebar{
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        border-radius: 100px 0 0 100px;
        transition: 0.5s;
        transform: translateX(0);
    }
    .slidebar__btn{
        display: none;
    }
    
}

@media (min-width: 960px) {

}

/* adaptive
.sidebar{
    position: absolute;
    height:100vh;
    background-color: #65bdc0;
    border-radius: 100px;
    min-width: 100%;
    transition: 0.5s;
    transform: translateX(-100%);
}
.slidebar__btn{
    position: absolute;
    width:50px;
    height: 50px;
    right: -90px;
    top: 40px;
}

.slidebar__btn img{
    width:50px;
    height: 50px;
}
 */
