@use 'src/style/variables/index.scss' as s;

.container {
    position: absolute;
    padding: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
