@use 'src/style/' as s;


.member{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: s.$base * 62;
    min-height: s.$base * 75;
    filter: drop-shadow(0px 4px 40px rgba(238, 119, 127, 0.36));
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.member__content{
    display: flex;
    margin-top: s.$base * 15;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member .name{
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.09em;
    color: #FFF5F5;
}
.member .status{
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;

    color: rgba(29, 35, 67, 0.75);
}

.member .post{
    font-family: Lack;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.09em;
    color: rgba(255, 255, 255, 0.86);
}
