@use 'src/style/' as s;


.roomsPage{
    display: flex;
    flex-direction: row;
    position: relative;
    &__contant{
        display: flex;
        flex-direction: column;
    }
}

.roomsBurger{
    position: absolute;
    display: none;
    background-color: s.$color-accent;
    border-radius: 100%;
    width: s.$base * 14;
    height: s.$base * 14;
    cursor: pointer;
    top: 30px;
    right: 10px;
}

.header{
    margin-bottom: 20px;
}

.items{
    display:flex;
    list-style: none;
    gap:30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    
}

@media (max-width: s.$breakpoint-md-min){
    .roomsBurger{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rooms{
        display: none;
    }
}